*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
}

section {
  height: 100vh;
  width: 100vw;
  border: 2px solid #6E6E6E;
}

img {
  margin: 1em;
  width: 5em;
}

/* HEADER SECTION */

.header-box {
  background-color: #404041;
  border-bottom: 3px solid #6E6E6E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 10px 0;
  height: 20%;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

h2 {
  color: #DD1972;
  font-size: 3em;
}

.h1-text {
  color: #D1D2D4;
  font-size: 1em;
  font-weight: 300;
  padding: 10px;
}

.h1-line {
  border: solid #D1D2D4;
  border-width: .1em 0 0 0;
  height: 8px;
  width: 80px;
}

.tic,
.toe {
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 10px 0 10px;
}

.tac {
  font-weight: 300;
}

/* GAMEPLAY SECTION */

.gameplay-section {
  height: 80%;
}

.gameplay-text {
  font-size: 200%;
  padding: 30px 0 30px 0;
}

.gameboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: #DD1972;
  height: 400px;
  width: 400px;
  grid-gap: 5px;
  margin: auto;
}

.x-icon,
.o-icon {
  height: 100px;
  width: 100px;
}

.cell-0,
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8 {
  display: grid;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

/* X and O SIDE SECTIONS */

.x-section,
.o-section {
  background-color: #D1D2D4;
  padding: 20px;
  color: #46424D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.num-wins-wrapper {
  background-color: #FFFFFF;
  border: 3px solid #6E6E6E;
  color: #6E6E6E;
  font-size: 30px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 20px 0;
  text-align: center;
}

.x-num-of-wins,
.o-num-of-wins {
  color: #DD1972;
  font-weight: 700;
  padding: 10px 10px 10px 5px;
}
