*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: 'Open Sans', sans-serif;
  border: 3px solid pink
}

body {
  border: 2px solid blue;
}

main {
  display: flex;
  justify-content: space-between;
}

section {
  height: 100vh;
  width: 100vw;
  border: 2px solid limegreen;
}

img {
  margin: 1em;
  width: 5em;
}

/* HEADER SECTION */

.header-box {
  background-color: #404041;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 0 10px 0; */
  height: 20%;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 10px;
}

h2 {
  color: #DD1972;
  font-size: 3em;
}

.h1-text {
  color: #D1D2D4;
  font-size: 1em;
  padding: 10px;
}

.h1-line {
  border: solid #D1D2D4;
  border-width: .1em 0 0 0;
  height: 8px;
  width: 100px;
}

.tic,
.toe {
  font-weight: 700;
  letter-spacing: 3px;
}

.tac {
  font-weight: 300;
}

/* GAMEPLAY SECTION */

.gameplay-section {
  height: 80%;
}

.gameplay-text {
  font-size: 150%;
  padding: 20px;
}

.board-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 500px;
  width: 500px;
  grid-gap: 5px solid red;
  margin: auto;
}

.cell-0,
.cell-1,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8 {
  background-color: white;
  width: 85%;
  height: 85%;
  margin: 1em;
  cursor: pointer;
}

/* .cell-0 {
  border: 0 5px 5px 0
} */


/* X and O SECTIONS */

.x-section,
.o-section {
  background-color: #D1D2D4;
  border: solid #6E6E6E;
  padding: 20px;
  color: #46424D;
  border-width: 0 0 0 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.num-wins-wrapper {
  background-color: #FFFFFF;
  border: 3px solid #6E6E6E;
  color: #6E6E6E;
  font-size: 30px;
  letter-spacing: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 20px 0;
  text-align: center;
}

.x-num-of-wins,
.o-num-of-wins {
  color: #DD1972;
  font-weight: 700;
  padding: 10px 10px 10px 5px;
}

/* HIDE AND DISABLE THINGS */
